In [145]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.ensemble import ExtraTreesRegressor
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error

import warnings
warnings.filterwarnings("ignore")

In [146]:
df = pd.read_csv('Featured_Matches_with_Deliveries.csv')

In [147]:
df.head(10)

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,...,score,team1,Neutral,is_home_team,final_innings_score,batter_code,bowler_code,non_striker_code,batting_team_code,bowling_team_code
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,...,1,Royal Challengers Bangalore,False,False,222,1,14,2,1,2
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,...,1,Royal Challengers Bangalore,False,False,222,2,14,1,1,2
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,...,2,Royal Challengers Bangalore,False,False,222,2,14,1,1,2
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,...,2,Royal Challengers Bangalore,False,False,222,2,14,1,1,2
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,...,2,Royal Challengers Bangalore,False,False,222,2,14,1,1,2
5,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,6,BB McCullum,P Kumar,SC Ganguly,0,...,2,Royal Challengers Bangalore,False,False,222,2,14,1,1,2
6,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,7,BB McCullum,P Kumar,SC Ganguly,0,...,3,Royal Challengers Bangalore,False,False,222,2,14,1,1,2
7,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,1,BB McCullum,Z Khan,SC Ganguly,0,...,3,Royal Challengers Bangalore,False,False,222,2,15,1,1,2
8,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,2,BB McCullum,Z Khan,SC Ganguly,4,...,7,Royal Challengers Bangalore,False,False,222,2,15,1,1,2
9,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,3,BB McCullum,Z Khan,SC Ganguly,4,...,11,Royal Challengers Bangalore,False,False,222,2,15,1,1,2

In [148]:
print(df.columns)

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batter', 'bowler', 'non_striker', 'batsman_runs', 'extra_runs',
       'total_runs', 'extras_type', 'is_wicket', 'player_dismissed',
       'dismissal_kind', 'score', 'team1', 'Neutral', 'is_home_team',
       'final_innings_score', 'batter_code', 'bowler_code', 'non_striker_code',
       'batting_team_code', 'bowling_team_code'],
      dtype='object')

In [149]:
df.drop(['match_id','team1','total_runs','batsman_runs', 'extra_runs',
         'extras_type', 'is_wicket', 'player_dismissed','dismissal_kind',
         'batter', 'bowler', 'non_striker','batting_team', 'bowling_team'],axis=1, inplace=True)

In [150]:
df.head(5)

,inning,over,ball,score,Neutral,is_home_team,final_innings_score,batter_code,bowler_code,non_striker_code,batting_team_code,bowling_team_code
0,1,0,1,1,False,False,222,1,14,2,1,2
1,1,0,2,1,False,False,222,2,14,1,1,2
2,1,0,3,2,False,False,222,2,14,1,1,2
3,1,0,4,2,False,False,222,2,14,1,1,2
4,1,0,5,2,False,False,222,2,14,1,1,2

In [151]:
X_train, X_test, y_train, y_test = train_test_split(df.drop(['final_innings_score'], axis=1), df['final_innings_score'], test_size=0.2, random_state=42)

In [152]:
model = LogisticRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
r2 = r2_score(y_test, y_pred)
r2

-0.1377044369050473

In [153]:
model = LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
r2 = r2_score(y_test, y_pred)
r2

0.44797165502669256

In [154]:
model = ExtraTreesRegressor(n_estimators=100, random_state=42)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
r2 = r2_score(y_test, y_pred)
r2

0.9373192757731084

In [164]:
custom_input = pd.DataFrame([{
    'inning': 2,
    'over': 9,
    'ball': 3,
    'score': 100,
    'Neutral': False,
    'is_home_team': True,
    'batter_code': 134,
    'bowler_code': 229,
    'non_striker_code': 99,
    'batting_team_code': 3,
    'bowling_team_code': 5
}])

In [165]:
y_pred = model.predict(custom_input)

In [166]:
print("Predicted Final Score for this innings will be",int(y_pred))

Predicted Final Score for this innings will be 168